#texto-esg{
  text-align: center, justify;
  font-size: large;
}
  
#titulo-sobre{
  color: #f74d47;
  font-size: 35px;
  position: relative;
  text-align: center;
}
  
#video-esg{
  text-align: center;
}