#artigo_principal p{
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
font-size: large;
}
#barra-navegacao{
  /* background-image: linear-gradient(to bottom,rgba(140, 150, 55, 0.857),rgb(59, 150, 89)); */
  background-color:rgba(197, 7, 7, 0.829);
  /* box-shadow: 0 0 5px 1px rgba(140,150,55,0.857); */
  font-size: large;
  z-index: 50;
  height: auto;
}

/* header */
#cabecalho{
  height: 27vh;
  background-color:#C83333;
  /* box-shadow: 0 3px 15px 5px rgb(51, 209, 72); */
  z-index: 30;
}
.card-imagem{
  background-color: #aba7a838;
}

/* a implementar*/
#darkmode{
  position: absolute;
  top: 22%;
  right: 2%;
  z-index: 50;
}
#darkmode i:hover{
  color: #f7f3e5;
  z-index: 50;
}
.div_img{
  border-radius: 20px;
}
.div_img:hover{
  transform: scale(1.1);
}

html,body{
  scroll-behavior: smooth;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}
#home:hover{
  color:yellow;
  z-index: 50;
}
.ImgFooter{ /* img dos logos redes sociais*/
  height: 2vw;
  margin-left: 2vw;
  border-radius: 15%;
}

#icone_subir{
  /* comeca escondido*/
  display: none; 
  position: fixed;
  top: 70%;
  right:3%;
  border-radius: 30%;
  height:3%;
  width: auto;
}
#icone_subir:hover{
  background-color: rgba(247, 29, 13, 0.849);
  border-radius: 50%;
  z-index: 20;
}

#libras_id{
  position:fixed;
  top:80%;
  right:2%;
}

#mapa{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: rgba(128, 128, 128, 0.665);
}

/* #parceiros_container div:hover{
transform: scale(1.20);
} */
/* MAIN */
#principal{
  background-image: linear-gradient(to top,#dfddd9, rgba(165, 161, 131, 0.629),#dfddd9);
}

/* FOOTER */
#rodape{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  font-size: larger;
  /* background-image: linear-gradient(to bottom,rgba(233, 36, 36, 0.76),#1b1b1a,rgba(233, 36, 36, 0.96)); */
  background-color:#2B2B2B;
  bottom:0;
  width: auto;
  height: 8vh;
  color: #f7f3e5;
  margin-left: -15px; /* margem igual ao container fluid pra nao sobrar as bordas*/
  margin-right: -15px;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw;
  
}
/* filtra os icones do rodape */
#rodape img{
  filter: invert(100%);
}
/* imagens das redes sosicias*/
.ImgFooter:hover{
  /* box-shadow: 0 0 10px 5px rgb(208, 255, 0); */
  border-radius: 10%;
}
ul li:hover{
 background-color: #f7f3e536;
}

/* medias querys */
@media (min-width:300px) and (max-width: 988.98px){ 
 
  /* #barra-navegacao{
    background-image: linear-gradient(to bottom,#5d645b,rgba(194, 41, 41, 0));
  } */
  .ImgFooter{
    width: 3vw;
    height: 3vh;
    margin: 18px ;
  }

 } /* media 300-988*/

 @media (min-width:200px) and (max-width: 668px){ 
  /* #barra-navegacao{
    background-image: linear-gradient(to bottom,#5d645b,rgba(194, 41, 41, 0));
  } */
 

  .ImgFooter{
    width: 3vw;
    height: 3vh;
    margin: 18px ;
  }
  #rodape{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 16vh;
  }
 /*@media 200 - 668  */
 }


